<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/changepassword/{{token}}" method="POST">
        <input type="password" name="pass1" placeholder="password"><br/>
        <input type="password" name="pass2" placeholder="password"><br/>
        <button type="submit">submit</button><br/>
    </form>
</body>
</html>